body
{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

#journeypage
{
    color: white;
    display: flex;
    justify-self: center;
    gap: 20px;
}

#journeypage p
{
    margin-top: 35px;
}

.progress-card
{
    color: white;
    display: flex;
    justify-self: center;
    gap: 20px;
}

.progress-card p
{
    margin-top: 25px;
}

.profile
{
    width: 500px;
    background-color: rgb(20,20,20);
    border: 1px solid rgb(50,50,50);
    border-radius: 15px;
    padding: 25px;
    color: white;
    display: flex;
    justify-self: center;
}

.profile
{
    color: white;
}

.profile-icon
{
    width: 70px;
    height: 70px;
    background-color: rgb(40,40,40);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-icon i
{
    font-size: 35px;
    color: grey;
}


.profile-info h2
{
    margin-bottom: 5px;
}


.profile-info p
{
    color: grey;
}


.profile-stats
{
    display: flex;
    gap: 50px;
    margin-top: 25px;
}


.profile-stats h3
{
    color: white;
    margin: 0;
}


.profile-stats p
{
    color: grey;
}

.skill-tree
{
    min-height: 700px;
    background: radial-gradient(circle at center, rgb(25,25,50), black);
    color: white;
    text-align: center;
    padding-top: 50px;
    overflow: hidden;
}


.constellation
{
    margin-top: 60px;
}


.star-node
{
    width: 120px;
    height: 120px;

    border-radius: 50%;
    background-color: rgb(15,15,30);

    border: 2px solid rgb(150,150,255);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    color: white;
    font-weight: bold;

    box-shadow: 0 0 20px rgb(100,100,255);
}


.origin
{
    border-color: lime;
    box-shadow: 0 0 30px lime;
}

.small
{
    width: 80px;
    height: 80px;

    font-size: 14px;
}

.connection
{
    width: 3px;
    height: 50px;

    background-color: rgb(150,150,150);

    margin: auto;
}

.horizontal-line
{
    width: 700px;
    height: 3px;
    background-color: rgb(150,150,150);
    margin: auto;
}

.branches
{
    display: flex;
    justify-content: center;
    gap: 100px;
}


.branch
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.star-node
{
    animation: glow 3s infinite;
}



@keyframes glow
{
    0%
    {
        box-shadow: 0 0 10px rgb(100,100,255);
    }

    50%
    {
        box-shadow: 0 0 30px rgb(150,150,255);
    }

    100%
    {
        box-shadow: 0 0 10px rgb(100,100,255);
    }
}